target
server/world_renamed
server/world_renamed_nether
server/world_renamed_the_end
server/banned-ips.json
server/banned-players.json
server/logs
server/usercache.json
server/whitelist.json
server/crash-reports
server/plugins
server/server.properties
server/spigot-1.13.2.jar
.idea
TrollskogenPlugin.iml
release.properties
.vscode
.classpath
.project
.factorypath
.settings

